<!DOCTYPE html>
<!-- views/partials/footer.ejs -->

<!-- <div class="tabs tabs-icon-top">
  <a class="tab-item">
    <i class="icon ion-home"></i>
    Home
  </a>
  <a class="tab-item">
    <i class="icon ion-star"></i>
    Favorites
  </a>
  <a class="tab-item">
    <i class="icon ion-gear-a"></i>
    Settings
  </a>
</div> -->

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">	
	<div class = "row footer">	
		<a href = "/">
			<div class = "col-xs-3">
				<div class = "row">
					<div class="footer-nav-icon-active">
						<i class = "fa fa-car fa-1x footer-nav-active"></i>
					</div>
				</div>
				<div class = "row">
					<p class = "footer-nav-active">rides</p>
				</div>
			</a>
		</div>
		<a href = "/swap/">
			<div class = "col-xs-3">
				<div class = "row">
					<div class="footer-nav-icon"><i class = "fa fa-exchange fa-1x footer-nav"></i></div>
				</div>
				<div class = "row">
					<p class = "footer-nav">swaps</p>
				</div>
			</div>
		</a>
		<a href = "/groups/">
			<div class = "col-xs-3">
				<div class = "row">
					<div class="footer-nav-icon"><i class = "fa fa-users fa-1x footer-nav"></i></div>
				</div>
				<div class = "row">
					<p class = "footer-nav">groups</p>
				</div>
			</div>
		</a>
		<a href = "rides-index.html">
			<div class = "col-xs-3">
				<div class = "row">
					<div class="footer-nav-icon"><i class = "fa fa-bell fa-1x footer-nav"></i></div>
				</div>
				<div class = "row">
					<p class = "footer-nav">updates</p>
				</div>
			</div>
		</a>
	</div>
		
<!-- 		<div class = "col-xs-4">
			<center><i class = "glyphicon glyphicon-home" height = "50px"></i></center>
		</div>

		<div class = "col-xs-4">

				<center><i class = "fa fa-car"></i></center>
		</div>
	</div>
</div>

<script src="/js/jquery.min.js"></script>

<!-- Application Javascript -->
<script src="/js/carpool.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>

<!-- Moment JavaScript -->
<script src="/js/moment.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="/js/metisMenu.min.js"></script>

<!-- Morris Charts JavaScript -->
<script src="/js/raphael-min.js"></script>
<script src="/js/morris.min.js"></script>
<script src="/js/morris-data.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/js/sb-admin-2.js"></script>