div.padding { 
  padding-top: 40px; 
  background: #eee;
}

.list-group-item.date-heading {
  /*color: #ACF0F2;
  background-color: #1695A3;*/
  background-color: #d0e9ec;
}

.list-group-item.rides {
  color: #696969;
}

html {
  background: #fafafa;
}

div.background {
  background: #fafafa;
}

div.title-header {
  font-size: 16px;
  font-weight: 550;
  padding: 10px 15px 10px 15px;
  border: 1px solid #ddd;
  /*background-color: #F3FFE2;*/
  background-color: #fafafa;
}

div.main-container {
  background-color: #fafafa;
}

.btn-orange {
  color: #fff;
  background-color: #EB7F00;
  border-color: #EB7F00;
}

div.group-members {
  padding-top: 10px;
}

.btn-teal {
  color: #fff;
  background-color: #1695A3;
  border-color: #1695a3;
}

.teal-icon {
  color: #1695a3;
}

span.edit{
  color: #1695a3;
}

.edit-icon {
  color: #1695a3;
  vertical-align: middle;
}

div.btn-wrapper {
  text-align: center;
  padding: 10px 10px;
  background: #eee;
}

div.btn-row-wrapper {
  text-align: center;
  padding: 10px 10px;
}

div.btn-space {
  margin-left: 5px;
  margin-right: 5px;
}

div.banner {
  text-align: center;
  vertical-align: middle;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #1695A3;
}

div.footer{
  background-color: #1695A3;
  padding-bottom: 10px;
  padding-top: 10px;
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
}

h4.brand {
  color: #ACF0F2;
  margin-top: 0px;
  margin-bottom: 0px;
  /*font-family: 'Nunito', sans-serif;*/
  font-family: 'Fredoka One', cursive;
}

p.footer-nav {
  /*font-family: 'Nunito', sans-serif;*/
  color: #ACF0F2;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  text-decoration: none;
}

div.footer-nav-icon{
  color: #ACF0F2;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

span.msg-curr-user{
  color: #EB7F00;
}

span.msg-default{
  color: #1695A3;
}

i.footer-nav{
  color: #ACF0F2;
  text-decoration: none;
}

p.footer-nav-active {
  font-family: 'Nunito', sans-serif;
  color: white;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  text-decoration: none;
}

div.footer-nav-icon-active{
  color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

i.footer-nav-active{
  color: white;
  text-decoration: none;
}

.text-complete {
  color: #1695A3;
}

.text-pending {
  color: #EB7F00;
}

.label-complete {
  background-color: #1695A3;
}

.label-pending {
  background-color: #EB7F00;
}

html {
  background: #eee;
}

div.background {
  background: #eee;
}

div.message-box {
  border: 1px solid black; 
  margin-bottom: 5px;
  margin-top: 5px;
  border-radius: 5px;
}

div.message-subject-header {
  font-size: 14px;
  padding: 20px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  background: #fff;
}

div.message-input-panel {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 0px 0px 20px 0px;
  padding: 10px 15px 10px 15px;
  background: #fff;
}

span.message-body-label {
  font-size: 12px;
}

div.inbox-header {
  padding: 10px 15px 10px 15px;
  border: 1px solid #ddd;
}

div.row-entry {
  padding: 10px 15px 10px 15px;
  background: #fff;
  border: 1px solid #ddd;
  font-size: 12px;
}

/* veronica */


/* end veronica */

span.request-group-name-label {
  font-weight: 600;
}

span.request-date-label {
  font-size: 12px;
}

span.request-message-label {
  font-size: 11px;
}
