<!DOCTYPE html>
<html lang="en">

<head>
    <link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
    <% include ../partials/head %>

</head>

<body>
    <% include ../partials/brand_header %>
    <div class="container-fluid main-container">
        <div class="title-header row">
          <span>My Groups</span>
          <span class="pull-right">
            <i class = "fa fa-plus teal-icon fa-1x"></i>
          </span>
        </div>
        <div class="row">
          <div class="list-group">
            <% for(var i=0; i<groups.length; i++) { %>
              <a href="/group-details/<%=groups[i].id%>" class="list-group-item">
                  <%=groups[i].get("name")%>
                  <span class="pull-right">
                    <i class = "fa fa-chevron-right carat"></i>
                  </span>   
              </a>
            <% } %>
          </div>
        </div>
    </div>
    <!-- /.container-fluid -->


<div class = "navbar navbar-default navbar-fixed-bottom">
	<div class  ="container">
      <% include ../partials/footer/groups %>
	</div>
</div>

</body>

</html>
