<!DOCTYPE html>
<html lang="en">

<head>

    <% include ../partials/head %>

</head>

<body>
            <div class="container-fluid main-container">
                <div class="padding"></div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-primary">
                            <!-- Default panel contents -->
                             <div class="panel-heading">Group Details</div>
                             <ul class="list-group">
                                <li class="list-group-item">
                                    <%=group%>
                                </li>
                            </ul>
                        </div>
                     </div>
                 </div>
                 <!-- /.row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-primary">
                            <!-- Default panel contents -->
                             <div class="panel-heading">Group Members</div>
                             <ul class="list-group">
                                <% for (var m in members) {%>
                                    <li class="list-group-item"><%=members[m]%></li>
                                <% }%>
                            </ul>
                        </div>
                     </div>
                 </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
            <!--% include ../partials/nav %-->

    <% include ../partials/footer %>

</body>

</html>
