<!DOCTYPE html>
<html lang="en">

<head>

    <% include ../partials/head %>

</head>

<body>
    <div class="banner">
        <h4 class="brand">PARCOOL</h4>
    </div>
    <div class="container-fluid main-container">
        <div class="title-header row">
          <span>Upcoming rides</span>
          <span class="pull-right">
            <i class = "fa fa-plus teal-icon fa-1x"></i>
          </span>
        </div>
        <div class="row">
                <ul class="list-group">
                <% for (var ride in rides) { %>
                        <div class="list-group-item date-heading">
                            <%= rides[ride][0].get("datetime").toDateString()%>
                        </div>
                            <% for (var shift in rides[ride]) { %>
                               <a href="ride-details/<%= rides[ride][shift].id %>" class="list-group-item ">
                                <%= rides[ride][shift].get("groupId").get("name") %>

                                <span class="pull-right">
                                    <%= rides[ride][shift].date %>
                                </span>
                                
                                </a>
                                <% } %>
                <% } %>
                </ul>
            </div>
         </div>


                <!-- /.row -->
     </div>
    <!-- /.container-fluid -->
    <div class = "navbar navbar-default navbar-fixed-bottom">
    	<div class  ="container">
    		<% include ../partials/footer %>
    	</div>
    </div>
</body>
</html>
