<!DOCTYPE html>
<html lang="en">

<head>

    <% include ../partials/head %>

</head>

<body>
    <div class="container-fluid main-container">
        <div class="padding"></div>
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td>Day&Time</td>
                            <td>Current Driver</td>
                            <td>Description</td>
                        </tr>
                    </thead>

                </table>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->

    <% include ../partials/footer %>

</body>

</html>
