<!DOCTYPE html>
<html lang="en">

<head>

    <% include ../partials/head %>

</head>

<body>
    <div class="container-fluid main-container">
        <div class="padding"></div>
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td><b>Day&Time</td></b>
                            <td><b>Current Driver</td></b>
                            <td><b>Description</td></b>
                        </tr>
                    </thead>
					
					<% for (var request in requests) { %>
						<tr>
							<td><%=requests[request].get("rideId") %></td>
							<td>driver1</td>
							<td><%=requests[request].get("note_text") %><br><button type="button" class="btn btn-default" aria-label="Left Align">
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Pick up shift
								</button></td>
							
						</tr>
					<% } %>

                </table>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->

    <% include ../partials/footer %>

</body>

</html>
