<!DOCTYPE html>
<html lang="en">

<head>

    <% include ../partials/head %>

</head>

<body>
    <div class="container-fluid main-container">
        <div class="title-header row">
          <span>Swap Board</span>
        </div>
        <div class="row">
          <div class="list-group">
            <% for(var i=0; i<requests.length; i++) { %>
              <a href="/swap/<%=requests[i].swap_id%>" class="list-group-item">
                <div class="row">
                  <span class="request-group-name-label col-xs-7"><%=requests[i].group%></span>
                  <span class="request-date-label col-xs-5 text-right"><%=requests[i].date%></span>
                </div>
                <div class="row">
                  <span class="request-message-label col-xs-7"><%=requests[i].note%></span>
                  <% if(requests[i].is_active) { %>
                  <span class="col-xs-5 text-right"><span class="label label-danger">Pending</span></span>
                  <% } else { %>
                  <span class="col-xs-5 text-right"><span class="label label-success">Complete</span></span>
                  <% } %>
                </div>
              </a>
            <% } %>
          </div>
        </div>
    </div>
    <!-- /.container-fluid -->

    <% include ../partials/footer %>

</body>

</html>
