<!DOCTYPE html>
<html lang="en">

<head>
    <link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
    <% include ../partials/head %>

</head>

<body>
    <div class="banner">
        <h4 class="brand">PARCOOL</h4>
    </div>
    <div class="container-fluid main-container">
        <div class="title-header row">
          <span>Upcoming rides for <%=group.get("name")%></span>
        </div>
        <div class="row">
          <div class="list-group">
            <% for(var i=0; i<rides.length; i++) { %>
                <a href="/ride-details/<%= rides[i].id%>" 
                class="list-group-item">
                    <%var date = rides[i].get("datetime")%>
                    <%var new_date = 
                        moment(date).format('ddd h:mm a MM/DD/YYYY')%>
                    <%=new_date%>
                </a>
            <% } %>
          </div>
        </div>
    </div>
    <!-- /.container-fluid -->


	<div class = "navbar navbar-default navbar-fixed-bottom">
		<div class  ="container">
			<% include ../partials/footer %>
		</div>
	</div>

</body>

</html>